@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Viga&display=swap');

h1 {
    font-family: 'Viga', sans-serif;
    color:#5EF4D6;
    text-transform: uppercase;
    text-align: center    
}

.card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

footer {
    text-align: center;
}
